<h1>Sign Up Form</h1>

<% if flash[:errors]%>
    <% flash[:errors].each do |error|%>
        <div class="alert alert-danger"><%= error%></div>
    <% end %>
<%end%>

<section class="form" >
<%= form_for @person do |f|%>
<<<<<<< HEAD

    <div class="col-sm-3">
    <%=f.label :name, "Full Name: "%>  
    <%=f.text_field :name, class:"form-control"%></div>
    <br>

    <div class="col-sm-1">
    <%=f.label :age, "Age: "%> 
    <%=f.number_field :age, in:16..70, class:"form-control"%></div>
    <br>
    
  
    <div class="col-sm-1">
    <%=f.label :gender, "Gender: "%>
    <%=f.select :gender, ["Male", "Female"], class: "form-select"%>
    </div>
    <br>

    <div class="col-sm-3">
    <%=f.label :email, "Email: "%>  
    <%=f.text_field :email, class:"form-control"%></div>
    <br>
    
    <div class="col-sm-3">
    <%=f.label :username, "Username: "%>  
    <%=f.text_field :username, class:"form-control"%></div>
    <br>
    
    <div class="col-sm-3">
    <%=f.label :password, "Password: "%>  
    <%=f.password_field :password, class:"form-control"%></div>
    <br>
    
    <div class= "d-grid col-1">
    <%=f.submit "Signup", class:"btn btn-primary" %></div>
<%end%>
</section>


  
=======
    <div class="row g-3">
    <div class="col md-6">
        <%=f.label :name, "Name: "%>  
        <%=f.text_field :name, class: "form-control"%><br>
        <br>

        <%=f.label :age, "Age: "%> 
        <%=f.number_field :age, in:16..70%><br>
        <br>

        <%=f.label :gender, "Gender: "%> 
        <%=f.select :gender, ['Male', 'Female']%><br>
        <br>

        <%=f.label :email, "Email: "%> 
        <%=f.text_field :email%><br>
        <br>

        <%=f.label :username, "Username: "%> 
        <%=f.text_field :username%><br>
        <br>

        <%=f.label :password, "Password: "%> 
        <%=f.password_field :password%><br>
        <br>

        <%=f.submit "Sign Up" %>
        
    </div>
<%end%>
>>>>>>> 14270192c9c099aec04366359dbdab81c5e8e8a6
