<h1> Welcome to <%=@person.name%>'s Profile</h1>

<h3>Age: <%=@person.age%></h3>
<h3>Gender: <%=@person.gender%></h3>
<h4> Your upcoming Puppy Rentals: </h4>
<%@person.rentals.each do |rental|%>
    <%if rental.completed == nil%>
  <ul><li> Puppy: <%=link_to rental.puppy.name, puppy_path(rental.puppy.id)%><br>
   Rental Time: <%= rental.time%></li></ul>
   <%= button_to "Cancel Rental", rental_path(rental.id), method: :delete %>
   <%= button_to "Completed!", rental_path(rental.id), method: :delete %>

   <%else%>
    "Looks like you don't have any upcoming Puppy Rentals!"
    <%=link_to "Let's Go See Available Puppies!", advertisements_path%>
    <%end%>
    
<%end%>

