
<h1 class="puppy_show">This is <%=@puppy.name%>!</h1>

<img class="show-picture" src="<%= @puppy.image %>" alt="<%= @puppy.name %>" width="280" height="280">
<section class="details">
<p><b>Name:</b> <%= @puppy.name%></p>
<p><b>Breed:</b> <%= @puppy.breed%></p>
<p><b>Age:</b> <%= @puppy.age%></p>
<p><b>Shelter Name:</b> <%= @puppy.shelter.name%></p>
<p><b>Shelter Location:</b> <%= @puppy.shelter.location%></p>
<p><b>Cute Fact about <%= @puppy.name%>:</b> <%= @puppy.cute_fact%></p>


<%flash[:puppy_id]=@puppy.id%>
<%flash[:puppy_name]=@puppy.name%>


<a class="btn btn-outline-secondary" href="/advertisements">Back to list of puppies</a>



